<div class="site-heading">
    <img src="https://en.gravatar.com/userimage/76770699/48d84be8536e3d6f8b0a1ee386bacf9d.jpeg" class="img-circle" style="float: left; margin-right: 15px; max-height: 150px">
    @if (Context.String(BlogKeys.Description) != null)
    {
        <h1>@Context.String(BlogKeys.Description)</h1>
    }
    @if (Context.String(BlogKeys.Intro) != null)
    {
        <span class="subheading">@Context.String(BlogKeys.Intro)</span>
    }
</div>