<div class="site-heading">
    <img src="@Context.GetLink(\"/images/alien_head.jpg\")" class="img-circle" style="float: left; margin-right: 15px; max-height: 150px">
    @if (Context.String(BlogKeys.Description) != null)
    {
        <h1>@Context.String(BlogKeys.Description)</h1>
    }
    @if (Context.String(BlogKeys.Intro) != null)
    {
        <span class="subheading">@Context.String(BlogKeys.Intro)</span>
    }
</div>