body {
    padding-top: 40px;
    background-color: #2D2D30;
    height: 100%;
    min-height: 100%;
}

html {
    height: 100%;
    min-height: 100%;
}

.content {
    height: 100%;
    min-height: 100%;
}

.navbar-nav > li > a {
    border-left: 1px solid #46464A;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #1E1E1E;
    border-left: 1px solid #434346;
    border-right: 1px solid #434346;
    min-height: 100%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    width: 50%;
}

textarea {
    width: 100%;
    min-height: 200px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.well,.jumbotron,.panel,.panel-heading {
    background-color: #2D2D30;
    color: #C8C8C8;
    border: 1px solid gray;
}

.panel-info > .panel-heading, .panel-footer {
    background-color: #0F0F0F;
    color: #C8C8C8;
    border: 0px;
}

.descImage {
    float: left;
    padding-right: 15px;
    max-width: 175px;
    max-height: 175px;
}

.tag,
.btn,
.btn a,
.pager > li a {
    color: #333;
    text-decoration: none;
}
    .tag,
    .btn,
    .btn a:link,
    .pager > li a:link {
        color: #333;
    }
        .tag,
        .btn,
        .btn a:active,
        .pager > li a:active {
            color: #333;
        }
            .tag,
            .btn,
            .btn a:focus,
            .pager > li a:focus {
                color: #333;
            }
                .tag,
                .btn,
                .btn a:hover,
                .pager > li a:hover {
                    color: #333;
                }
                    .tag,
                    .btn,
                    .btn a:visited,
                    .pager > li a:visited {
                        color: #333;
                    }

a {
    color: #F1F1F1;
}
a:link {
    color: #F1F1F1;
}
a:hover {
    color: #F1F1F1;
    }
a:active {
    color: #F1F1F1;
    }

code {
    background-color: #202020;
    border: 2px solid #c0c0c0;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 3px #6e6e6e;
    -ms-box-shadow: 2px 2px 3px #6e6e6e;
    box-shadow: 2px 2px 3px #6e6e6e;
    color: #e2e2e2;
    display: block;
    overflow: auto;
    padding: 15px;
    margin: 5px;
    white-space: inherit;
}
