@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<div class="row">
    <div class="well well-lg">
        <h1>@ViewBag.Title</h1>
        <br/>
        <img class="pull-left img-circle" src="~/Content/Images/alien_head_sad.jpg" />
        Something went wrong.  Sorry, ill try to have it fixed soon.<br/>
        <div onclick="window.history.back();" class="btn btn-primary">&larr; Go Back</div>
        <hr/>
        <strong>Details:</strong>
        @Model.Exception.Message<br/>
        @Model.Exception.StackTrace
    </div>
</div>

