@{
    ViewBag.Title = "About";
}
<div class="well well-lg">
    <h2>@ViewBag.Title.</h2>
    
    <p>This will be my spot to blog about new things I find interesting, as well as test out new ideas.</p>
</div>