@{
    ViewBag.Title = "Contact";
}

<div class="well well-lg">
    <h2>@ViewBag.Title.</h2>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        Email Address
    </div>
    <div class="panel-body">
        <address>
            <a href="mailto:Support@example.com">Shane.Ray87@gmail.com</a>
        </address>
    </div>
</div>
